@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #2366f5;
    --color-gray: #a1a1a1;

    /* swiper pagination variables */
    --swiper-pagination-color: var(--color-primary);
  }
}

html {
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--color-gray);
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 100vh;
  border: 0.2rem solid var(--color-primary);
}
